{"filter":false,"title":"web.config","tooltip":"/web.config","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":2,"column":16},"action":"insert","lines":["<staticContent>","    <mimeMap fileExtension=\".svg\" mimeType=\"image/svg+xml\"/>","</staticContent>"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":16},"end":{"row":2,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1421026140844,"hash":"6437ecdbbbd0f63589c45d1c926f7c3d608193b8"}